:root {
  --background: rgba(85, 37, 85, 1);
  --block: rgba(107, 45, 110, 1);
  --red: rgba(172, 52, 80, 1);
  --selected: rgba(61, 13, 61, 1);
  --special: rgba(52, 99, 172, 1);
  --text: rgba(243, 191, 227, 1);
  --text-14-font-family: "JejuGothic", Helvetica;
  --text-14-font-size: 14px;
  --text-14-font-style: normal;
  --text-14-font-weight: 400;
  --text-14-letter-spacing: 0px;
  --text-14-line-height: normal;
  --text-24-font-family: "JejuGothic", Helvetica;
  --text-24-font-size: 24px;
  --text-24-font-style: normal;
  --text-24-font-weight: 400;
  --text-24-letter-spacing: 0px;
  --text-24-line-height: normal;
  --text-32-font-family: "JejuGothic", Helvetica;
  --text-32-font-size: 32px;
  --text-32-font-style: normal;
  --text-32-font-weight: 400;
  --text-32-letter-spacing: 0px;
  --text-32-line-height: normal;
  --text-48-font-family: "JejuGothic", Helvetica;
  --text-48-font-size: 48px;
  --text-48-font-style: normal;
  --text-48-font-weight: 400;
  --text-48-letter-spacing: 0px;
  --text-48-line-height: normal;
  --text-64-font-family: "JejuGothic", Helvetica;
  --text-64-font-size: 64px;
  --text-64-font-style: normal;
  --text-64-font-weight: 400;
  --text-64-letter-spacing: 0px;
  --text-64-line-height: normal;
  --title: rgba(255, 255, 255, 1);
}
